<mat-card class="item">
  <img mat-card-image [src]="data?.thumbnail || 'assets/thumbnail.png'" alt="thumbnail">
  <mat-card-header>
    <mat-card-title>{{data?.name}}</mat-card-title>
    <mat-card-subtitle>{{data?.creationDate | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button><mat-icon>file_download</mat-icon></button>
    <button mat-button><mat-icon>link</mat-icon></button>
  </mat-card-actions>
</mat-card>