.item {
    width: 150px;
  }

  .mat-card{
      padding: 0;
      margin: 10px 10px 0 0;
      float: left;
  }

  .mat-card-actions .mat-button{
      padding: 0;
      margin: 0;
      min-width: 72px;
  }

  .mat-card-image:first-child{
      margin: 0;
      width: 150px;
  }

  .mat-card > .mat-card-actions{
      margin: 0;
      padding: 0;
  }

  .mat-card-title{
      margin: 0;
  }

  .mat-card-header .mat-card-subtitle:not(:first-child){
      margin: 0;
      margin-top: 2px;
  }